.head{
    margin-left: 20vw;
    color: rgb(255, 255, 255);
    font-size:2.5vw;
    font-weight: bolder;
    padding-top: 20px;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 10px;
    text-decoration-style: double;
}
.section {
    height: 80vw;
    width:78vw;
    margin-left: 20vw;
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    margin-top: 50px;
    
}

.div1{
    height:max-content;
    width: 35vw;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    padding: 1vw;
    border-radius: 10px;
    border-style:dotted;
    margin-bottom: 20px;
  
}



#Training{
    height: 30vw;
}


.upline{
    color: rgb(230, 99, 12);
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 1px;
    text-decoration-style:double;
    font-size: 1.7vw;
}
.paragrap{
    margin-top: 0.5vw;
    font-size: 1.2vw;
}
.strong{
    margin-top: 4px;
    font-size: 1.5vw;
}